@use '../../styles/variables' as v;

.intro {
  width: 100%;
  background-color: var(--beige-color);
  position: relative;


  &__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: calc(var(--gap) * 2.67);
  }

  &__left &__right {
    flex: 1;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__content {
    width: 599px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: calc(var(--gap) * 3);
  }

  &__descriptions {
    display: flex;
    flex-direction: column;

    gap: calc(var(--gap) * 1.83);
  }

  &__buttons {
    display: flex;
    gap: calc(var(--gap) * 1.5);
  }

  &__right {
    display: flex;
  }

  &__img {
    width: 100%;
    max-height: 737px;
  }

  &__slider {
    display: flex;
    background-color: var(--grey-color);
    position: absolute;
    padding: 24px 32px;
    gap: var(--gap);
    right: 0;
    bottom: 0;
  }


  br {
    display: none;
  }

  @media (min-width: v.$bigger-desktop) {
    br {
      display: block;
    }
  }
}
