@use '../../styles/variables' as v;

.intro {
  width: 100%;
  background-color: var(--beige-color);
  position: relative;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 140px;
  }

  &__header {
    padding-bottom: 44px;
  }

  &__buttons {
    display: flex;
    padding-top: 72px;
    gap: calc(var(--gap) * 1.5);
  }

  &__right {
    display: flex;
  }

  &__img {
    width: 100%;
    max-height: 737px;
  }

  &__slider {
    display: flex;
    background-color: var(--grey-color);
    position: absolute;
    padding: 24px 32px;
    gap: var(--gap);
    right: 0;
    bottom: 0;
  }

  p {
    align-items: flex-start;
  }

  br {
    display: none;
  }

  @media (min-width: v.$bigger-desktop) {
    br {
      display: block;
    }
  }
}
