@use '../../styles/variables' as var;

.intro {
  width: 100%;
  background-color: var(--beige-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: var.$bigger-tablet) {
    gap: calc(var(--gap) * 2.67);
    justify-content: flex-end;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: var.$bigger-tablet) {
      gap: calc(var(--gap) * 2.67);
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: var(--gap);

    @media (min-width: var.$bigger-mobile) {
      width: 100%;
      padding: 25px;
      gap: calc(var(--gap) * 3);
    }
    @media (min-width: var.$tablet) {
      flex: 1;
      align-items: flex-start;
      padding: 46px 34px 46px 0;
      gap: calc(var(--gap) * 3);
    }
  }

  &__content {

    display: flex;
    flex-direction: column;
    justify-content: center;

    letter-spacing: initial;
    gap: var(--gap);

    @media (min-width: var.$tablet) {
      gap: calc(var(--gap) * 1.67);
    }

    @media (min-width: var.$desktop) {
      gap: calc(var(--gap) * 3);
    }
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 1.67);

    br {
      display: none;
    }

    @media (min-width: var.$bigger-tablet) {
      br {
        display: block;
      }
    }
  }

  p {
    line-height: 150%;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-self: center;

    @media (min-width: var.$bigger-mobile) {
      flex-direction: row;
      align-self: normal;

      gap: calc(var(--gap) * 1.5);
    }
  }

  &__right {
    position: relative;

    @media (min-width: var.$bigger-tablet) {
      flex: 1;
    }

    img {
      width: 100%;
      height: 100%;
      display: none;

      @media (min-width: var.$bigger-tablet) {
        display: block;
      }
    }
  }


  &__slider {
    display: none;

    @media (min-width: var.$bigger-tablet) {
      display: flex;
      background-color: var(--grey-color);
      position: absolute;
      gap: var(--gap);
      right: 0;
      bottom: 0;
      padding: 12px 16px;
    }
    @media (min-width: var.$desktop) {
      padding: 24px 32px;
    }
  }
}
