@use "styles/variables" as var;
@use "styles/mixins" as mix;
.offer {
  width: 100%;
  background-color: var(--grey-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: var.$bigger-mobile) {
    padding: 40px 0 60px 0;
  }

  @media (min-width: var.$tablet) {
    padding: 40px 0 60px 0;
  }

  @media (min-width: var.$desktop) {
    padding: 60px 0 80px 0;
  }

  &__container {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: var(--gap);

    @media (min-width: var.$bigger-mobile) {
      width: 100%;
      gap: calc(var(--gap) * 2);
    }

    @media (min-width: var.$tablet) {
      gap: calc(var(--gap) * 4);
    }
  }

  &__content-top {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: calc(var(--gap) * 0.64);

    @include mix.container-size;
  }

  &__content-top__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    br {
      display: none;
    }

    @media (min-width: var.$bigger-mobile) {
      br {
        display: block;
      }
    }
    @media (min-width: var.$tablet) {
      gap: calc(var(--gap) * 1.5);
    }
  }

  h3 {
    line-height: 115%;
    letter-spacing: -0.05em;
  }

  &__cards {
    --padding: 88px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    column-gap: calc(var(--gap) * 2);
    row-gap: calc(var(--gap) / 2);

    @media (min-width: var.$bigger-mobile) {
      gap: var(--gap);
    }

    @media (min-width: var.$tablet) {
      flex-direction: row;
    }
    @media (min-width: var.$bigger-tablet) {
      //width: calc(100% - calc(var(--padding) * 2));
      //gap: calc(var(--gap) * 1.3);
    }
    @media (min-width: var.$desktop) {
      flex-wrap: nowrap;

      //gap: calc(var(--gap) * 2);
      justify-content: space-between;
    }
    @media (min-width: var.$bigger-desktop) {
      //gap: calc(var(--gap) * 2.67);
    }
  }

  &__card {
    --height: 240px;
    --width: 220px;
    --top-padding: 16px;
    --left-padding: 14px;
    background-color: var(--white-color);
    height: calc(var(--height) - 2 * var(--top-padding));
    width: calc(var(--width) - 2 * var(--left-padding));

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px 14px;
    border-radius: 30px;
    column-gap: calc(var(--gap) * 2);

    br {
      display: none;
    }

    @media (min-width: var.$bigger-mobile) {
      padding: 24px 20px;
      min-height: 214px;
      min-width: 238px;
    }
    @media (min-width: var.$tablet) {
      padding: 36px 30px;
      min-height: 234px;
      min-width: 258px;

    }
    @media (min-width: var.$bigger-tablet) {
      min-height: 274px;
      min-width: 298px;
      br {
        display: block;
      }
    }
    @media (min-width: var.$desktop) {
      padding: 48px 40px;
    }
  }

  p {
    line-height: 150%;
  }

  p, h3, h2, a {
    align-self: flex-start;
  }

  &__card-content {
    display: flex;
    flex-direction: column;

    svg {
      width: calc(100% / 8);
      height: calc(100% / 8);
    }

    gap: calc(var(--gap) * 1.3);
  }

  &__card-text {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.5);
  }

  &__card-link {
    border-bottom: 1px solid var(--green-color);
  }

  a {
    line-height: 150%;
    letter-spacing: initial;
  }
}
