@use "styles/variables" as var;
.realization {
  width: 100%;
  background-color: var(--beige-color);

  display: flex;
  flex-direction: column;
  align-items: center;


  &__container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 10px 0;
    gap: var(--gap);
    @media (min-width: var.$tablet) {
      padding: 60px 0 22px 0;
      gap: calc(var(--gap) * 2);
    }

    @media (min-width: var.$desktop) {
      padding: 120px 0 44px 0;
      gap: calc(var(--gap) * 4);
    }

  }
  &__gradient {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
            rgba(220, 193, 171, 1) 10%,
            rgba(220, 193, 171, 0) 100%
    );
    visibility: visible;
  }

  &__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 69px;
    z-index: 23;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    cursor: pointer;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.67);

    @media (min-width: var.$tablet) {
      padding-left: 80px;
    }

    @media (min-width: var.$desktop) {
      padding-left: 160px;
    }
  }

  &__content {
    width: 100%;

    .grid-item {
      display: flex;
      width: 31.320%;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
      @media (min-width: var.$tablet) {
        margin-bottom: 20px;
      }

      @media (min-width: var.$desktop) {
        margin-bottom: 30px;
      }
    }
    .grid-item--width2 {
      width: 31.3895%;
    }
    .gutter-sizer {
      width: 3%;
    }
  }
}
