header {
  background-color: #fff;
  padding: 24px 0;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 24px;
  }

  .header__navigation ul {
    display: flex;
    gap: calc(var(--gap) * 2);

    font: var(--smaller-font)
  }
  li {
    display: flex;
    align-items: center;
  }
}

