.link {
  color: var(--black-color);
  transition: var(--transition);
  cursor: pointer;

  &_white {
    color: var(--grey-color);
  }
  &:hover, &:active, &:focus, &_active {
    color: var(--green-color);
  }
}
