@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500&display=swap');

//breakpoints
$bigger-mobile: 576px;
$tablet: 768px;
$bigger-tablet: 992px;
$desktop: 1200px;
$bigger-desktop: 1440px;
$biggest-desktop: 1600px;

//containers
$bigger-container: 1040px;

:root {
  //font
  --smallest-font: 400 8px 'Inter', sans-serif;
  --smaller-font: 400 11px 'Inter', sans-serif;
  --font: 400 12px 'Inter', sans-serif;
  --font-biggest-desktop: 400 14px 'Inter', sans-serif;
  --biggest-font: 500 28px 'Inter', sans-serif;
  --bigger-font: 500 32px 'Inter', sans-serif;
  --montserrat-smaller-font: 500 17px 'Montserrat', sans-serif;
  --montserrat-regular: 400 28px 'Montserrat', sans-serif;
  --montserrat-font: 500 32px 'Montserrat', sans-serif;
  --montserrat-bigger-font: 500 42px 'Montserrat', sans-serif;
  --montserrat-bigger-font-biggest-desktop: 500 52px 'Montserrat', sans-serif;
  // spacers
  --transition: 0.3s;
  --gap: 16px;

  @media (min-width: $bigger-mobile) {
    --smallest-font: 400 10px 'Inter', sans-serif;
    --smaller-font: 400 13px 'Inter', sans-serif;
    --font: 400 15px 'Inter', sans-serif;
    --font-biggest-desktop: 400 16px 'Inter', sans-serif;
    --biggest-font: 500 34px 'Inter', sans-serif;
    --bigger-font: 500 38px 'Inter', sans-serif;
    --montserrat-smaller-font: 500 20px 'Montserrat', sans-serif;
    --montserrat-regular: 400 34px 'Montserrat', sans-serif;
    --montserrat-font: 500 38px 'Montserrat', sans-serif;
    --montserrat-bigger-font: 500 48px 'Montserrat', sans-serif;
    --montserrat-bigger-font-biggest-desktop: 500 56px 'Montserrat', sans-serif;
  }

  @media (min-width: $tablet) {
    --smallest-font: 400 12px 'Inter', sans-serif;
    --smaller-font: 400 14px 'Inter', sans-serif;
    --font: 400 16px 'Inter', sans-serif;
    --font-biggest-desktop: 400 18px 'Inter', sans-serif;
    --biggest-font: 500 40px 'Inter', sans-serif;
    --bigger-font: 500 48px 'Inter', sans-serif;
    --montserrat-smaller-font: 500 24px 'Montserrat', sans-serif;
    --montserrat-regular: 400 40px 'Montserrat', sans-serif;
    --montserrat-font: 500 48px 'Montserrat', sans-serif;
    --montserrat-bigger-font: 500 60px 'Montserrat', sans-serif;
    --montserrat-bigger-font-biggest-desktop: 500 72px 'Montserrat', sans-serif;
  }

  @media (min-width: $bigger-tablet) {
    --gap: 24px;
  }
}
